.animated-underline {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--accent-color);
    display: inline-flex;
    gap: 4px;
}
.animated-underline.no-accent-color {
    color: var(--primary-white);
}
.animated-underline:hover::before {
    animation: animate-underline .3s linear;
}

.animated-underline::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    background-color: var(--accent-color);
}


@keyframes animate-underline {
    from {bottom: 8px; opacity: 0.5;}
    to {bottom: -3px; opacity: 1;}
}