.project-card-container {
    align-items: center;
    margin-bottom: 120px !important;
}
.project-card-container .right-container {
    padding-left: 32px;
}
/* card hover effect */
.project-card-container:hover .project-image-container-card {
    background-color: var(--secondary-hover-dark);
    top: -20px;
}

.project-image-container-card {
    background-color: var(--secondary-dark);
    display: grid;
    place-content: center;
    position: relative;
    padding: 20% 8%;
    border-radius: var(--card-border-radius);
    top: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
.project-image-container-card .image-container { 
    border-radius: var(--card-border-radius);
    overflow: hidden;
    aspect-ratio: 1.3/1;
}

.project-image-container-card .project-tag {
    background-color: var(--primary-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    border-radius: 999px;
    padding: 8px 16px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.project-info-wrapper .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--primary-white);
}
.project-info-wrapper .value,
.project-info-wrapper .attribute {
    font-size: 16px;
    font-weight: 500;
    line-height: 160.0000023841858%;
    color: var(--primary-white);
}
.project-info-wrapper .value {
    color: var(--secondary-white);
    justify-content: end;
    margin-left: 16px;
    text-align: right;
}

.project-name::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: -100%;
    background-color: var(--accent-color);
}
.project-card-container:hover .project-name::before {
    animation: infinite-underline 3s ease-in-out infinite;
}

.project-info-wrapper .value .skill-icon {
    width: 30px;
}

.project-card-container .action-link {
    margin-top: 48px;
}

@keyframes infinite-underline {
    from {left: -100%;}
    to {left: 100%; }
}

@media screen and (max-width: 650px) {
    .project-image-container-card {
        padding: 16% 4%;
    }
    .project-info-wrapper .value .skill-icon {
        width: 25px;
    }
    .project-card-container .action-link {
        margin-top: 35px;
    }
}