.project-card-container {
    align-items: center;
}
.project-card-container .right-container {
    padding-left: 32px;
}
/* card hover effect */
.project-card-container .project-image-container-card:hover {
    background-color: var(--secondary-hover-dark);
    top: -20px;
}

.project-image-container-card {
    background-color: var(--secondary-dark);
    display: grid;
    place-content: center;
    position: relative;
    padding: 20% 8%;
    border-radius: var(--card-border-radius);
    top: 5px;
    transition: all .3s ease;
}
.project-image-container-card .image-container { 
    border-radius: var(--card-border-radius);
    overflow: hidden;
    aspect-ratio: 1.3/1;
}

.project-image-container-card .project-tag {
    background-color: var(--primary-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    border-radius: 999px;
    padding: 8px 16px;
    position: absolute;
    top: 16px;
    left: 16px;
}

.project-info-wrapper .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--primary-white);
}
.project-info-wrapper .value,
.project-info-wrapper .attribute {
    font-size: 16px;
    font-weight: 500;
    line-height: 160.0000023841858%;
    color: var(--primary-white);
}
.project-info-wrapper .value {
    color: var(--secondary-white);
}
