.featured-project-container {
    gap: 35px !important;
}
.featured-project-container h1 {
    font-size: 96px;   
}
.featured-project-container .left-container {
    width: 40%;   
}
.featured-project-container .right-container {
    width: 60%;   
}

.tech-stack-container .skill-wrapper {
    position: relative;
    top: 0;
    width: 150px;
    height: 150px;
    text-align: center;
}      
.tech-stack-container .skill-wrapper:hover {      
    top: -10px;
    box-shadow: 0px 5px 10px -4px var(--accent-color);
}

.featured-project-container .feature-items {
    text-align: center;
    width: 350px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-dark);
    border-radius: var(--card-border-radius);
}

@media screen and (max-width: 950px) {
    .featured-project-container h1 {
        font-size: 86px;   
    }
    .tech-stack-container .skill-icon {      
        width: 70px;
    }
}
@media screen and (max-width: 770px) {
    .tech-stack-container .skill-icon {      
        width: 65px;
    }
    .tech-stack-container .skill-wrapper {
        width: 150px;
        height: 150px;
    }          
}
@media screen and (max-width: 650px) {
    .featured-project-container .left-container {
        width: 100%;   
    }
    .featured-project-container .right-container {
        width: 100%;   
    }
    .featured-project-container h1 {
        font-size: 76px;   
    }
    .tech-stack-container .skill-icon {      
        width: 60px;
    }
    .tech-stack-container .skill-wrapper {
        width: 140px;
        height: 140px;
    }
}
@media screen and (max-width: 450px) {
    .featured-project-container h1 {
        font-size: 70px;   
    }
    .featured-project-container h2 {
        font-size: 60px;   
    }
    .featured-project-container h2 {
        font-size: 60px;   
    }
}
