.hero-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-container .left-box {
    width: 45%;
}
.hero-container .right-image-box {
    width: 55%;
    padding: 25px;
    /* outline: 1px solid red; */
}

.hero-container .image-container {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    max-width: 550px;
    margin: 0 auto;
}

.contact-button-group {
    display: flex; 
    align-items: center;
    margin-top: 40px;
}
.contact-icons {
    width: 54px;
    height: 54px;
    display: grid;
    background-color: var(--secondary-dark);
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.contact-icons:hover {
    background-color: var(--secondary-hover-dark);
}

