.hero-container {
    display: flex;
    align-items: center;
}

.hero-container .right-container {
    padding: 25px 85px;
}

.hero-container .image-container {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    max-width: 580px;
    margin: 0 auto;
}

.contact-button-group {
    display: flex; 
    align-items: center;
    margin-top: 40px;
}
.contact-icons {
    width: 54px;
    height: 54px;
    display: grid;
    background-color: var(--secondary-dark);
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.contact-icons:hover {
    background-color: var(--secondary-hover-dark);
}

