.experience-section {
    background-color: var(--secondary-dark);
}
.experience-container {
    padding: 100px 0;
}

.experience-container .vertical-timeline::before {
    top: 45px;
    height: 92%;
}

.experience-container .vertical-timeline-element-content p {
    font-weight: 400;
}