.experience-section.skills-section{
    background-color: #000;
    background-image: url(../../assets/images/background/white-texture.png);
    background-repeat: repeat;
}

.skill-card {
    padding: 25px 12px;
    border-radius: 6px;
    flex-basis: 155px;
    height: 155px;
    color: var(--primary-white);
    background: rgba(255, 255, 255, 0.18);
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}