.label-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 160.0000023841858%;
    margin-bottom: 8px;
    display: inline-block;
    color: var(--secondary-white);
}
.input-field-wrapper .input-field {
    border: none;
    outline: none;
    background-color: var(--secondary-dark);
    color: var(--primary-white);
    padding: 12px 16px;
    font-size: 18px;
    width: 100%;
    border-radius: var(--input-border-radius);
    outline: 1px solid transparent;
    resize: none;
}
.input-field-wrapper .input-field:focus,
.input-field-wrapper .input-field:hover {
    outline: 1px solid var(--secondary-hover-dark);
}

.input-field-wrapper .input-field.error-field {
    border-bottom: 2px solid var(--accent-color);
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover, 
.input-field:-webkit-autofill:focus, 
.input-field:-webkit-autofill:active  {
    color : var(--primary-white) !important;
    -webkit-text-fill-color: var(--primary-white) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--secondary-dark) inset !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    transition: background-color 5000s;
}