.contact-container {
    padding: 50px 0;
}
.contact-container .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-container h2 {
    margin-bottom: 16px;
}

.contact-container .social-link-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.contact-container .social-link-wrapper .social-icons:hover {
    background-color: var(--secondary-hover-dark);
    border-radius: 50%;
    padding: 8px;
}

.contact-container .foot-note {
    font-size: 16px;
    color: var(--secondary-white);
}
.contact-container .foot-note-bottom {
    display: none;
}

@media screen and (max-width: 650px) {
    .contact-container .foot-note {
        display: none;
    }
    .contact-container .foot-note-bottom {
        display: block;
    }
}
