.main-header {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--primary-dark);
}

.navbar-wrapper{
    padding: 16px 64px;
}

nav .name-logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    line-height: 150%;
}

nav ul li a{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -3%;
}

.navbar-shadow {
    box-shadow: 0px 4px 14px 0px var(--secondary-dark);
}

@media screen and (max-width: 1300px) {
    .navbar-wrapper{
        padding: 16px 35px;
    }
}
@media screen and (max-width: 1100px) {
    .navbar-wrapper{
        padding: 16px 25px;
    }
}
@media screen and (max-width: 950px) {
    .navbar-wrapper{
        padding: 16px 20px;
    }
}

@media screen and (max-width: 650px) {
    .main-header {
        bottom: 12px;
        top: unset;
        position: fixed;
        background: transparent;
        width: 100%;
        padding: 0 8px;
    }
    .navbar-wrapper{
        padding: 0;
        border-radius: 999px;
        width: fit-content;
        padding: 8px 20px;
        margin: 0 auto;
        backdrop-filter: blur(6px) saturate(180%);
        -webkit-backdrop-filter: blur(6px) saturate(180%);
        background-color: rgba(10, 10, 10, 0.74);
        border: 1px solid rgb(149, 149, 149);
    }
    nav .name-logo {
        display: none;
    }
    
}