.experience-container {
    padding: 80px 0;
}
.role-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}
.role-wrapper .period {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--secondary-white);
}

.company-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 160.0000023841858%;
    color: var(--accent-color);
    margin-top: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.work-description b {
    color: var(--primary-white);
}

@media screen and (max-width: 650px) {
    .experience-container {
        padding: 40px 0;
    }
    .experience-container h2{
        margin-bottom: 25px;
    }
    .role-wrapper {
        align-items: flex-start;
    }
    .company-name {
        align-items: flex-start;
    }
}