.my-works-section {
    padding: var(--global-wrapper-padding);
}
.my-works-container {
    max-width: var(--global-wrapper-width);
    margin: 0 auto;
    padding: 100px 0;
}

.work-list-wrapper{
    overflow: auto;
    gap: 32px;
    padding: 12px 0;
    scrollbar-width: thin;
}

.work-list-wrapper .project-card {
    flex-shrink: 0;
}