.my-works-section {

}
.my-works-container {
    padding: 100px 0;
}

.work-list-wrapper{
    overflow: auto;
    gap: 32px;
    padding: 12px 0;
    scrollbar-width: thin;
}

.work-list-wrapper .project-card {
    flex-shrink: 0;
}